
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    {% block title %}<title>Post Session</title>{% endblock %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    {% load static %}

    <!-- Custom styles for this template -->
    <link href="{% static 'styles/base.css' %}" rel="stylesheet">
    {% block styles %}{% endblock %}
  </head>

  <body class="bg-light">
    <main role="main" class="container">
        <div class="row">
            <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
                <!-- <a class="navbar-brand" href="{% url 'index' %}">PlayWithMe</a> -->
                <a href="{% url 'index' %}"><img src="{% static 'images/LogoWhite.png' %}" style="width: 130px; height: 27px; margin-top: 5px; margin-right: 5px"></a>
                <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_group' %}">Create Group</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'my_groups' %}">My Groups</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'find_group' %}">Find a Group</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">About Us</a>
                            <a class="dropdown-item" href="#">Feedback</a>
                            </div>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                    <span class="navbar-text">Welcome, {{ user.get_username }}!</span>
                    <span class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </span>
                    {% else %}
                    <span class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </span>
                    <span class="nav-item">
                        <a class="nav-link" href="{% url 'signup'%}">Sign up</a>
                    </span>
                    {% endif %}
                    </span>
                </div>
            </nav>
        </div>
        <p> </p>
        <p> </p>
        <p> </p>

        {% block content %}
        {% endblock %}

    </main>

    {% block footer %}
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/holder.js' %}"></script>
    <script src="{% static 'scripts/search.js' %}"></script>
  </body>
</html>
