{% extends 'base_generic.html' %}

{% load static %}

{% block styles %}
<link href="{% static 'styles/chat.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="card my-3">
  <div class="card-body">
    <h3 class="header">We Have A Match!</h3>
    <p class="team-name">Team Name: The G's</p>

    <div class="my-3 p-3 bg-white rounded box-shadow" id="member-list">
      <h6 class="border-bottom border-gray pb-2 mb-0">Team Members</h6>
      <div class="media text-muted pt-3">
        <img src="{% static 'images/chick.jpg' %}" class="img">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark" style="padding-left: 5px">@username1</strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img src="{% static 'images/chick.jpg' %}" class="img">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark" style="padding-left: 5px">@username2</strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img src="{% static 'images/chick.jpg' %}" class="img">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark" style="padding-left: 5px">@username3</strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
          <img src="{% static 'images/chick.jpg' %}" class="img">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark" style="padding-left: 5px">@ysezer52</strong>
          </p>
      </div>
      <div class="media text-muted pt-3">
          <img src="{% static 'images/chick.jpg' %}" class="img">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark" style="padding-left: 5px">@ickyvicky77</strong>
          </p>
      </div>
    </div>
    <div class="boxed card my-3">
      <h2 style="align-self: center">Chat With Team:</h2>
      <div class="block left">
          <img class="block-img" src="{% static 'images/User1.jpg' %}" alt="FortniteGamer">
          <p>Hey whats up?. Do you want to get a game going?</p>
          <span class="timeRight">11:00</span>
      </div>

      <div class="block right">
          <img class="block-img" src="{% static 'images/User2.jpg' %}" alt="CODGamer" class="right">
          <p>Hey! Yeah defintely that sounds fun!</p>
          <span class="timeLeft">11:01</span>
      </div>

      <div class="block left">
          <img class="block-img" src="{% static 'images/User1.jpg' %}" alt="FortniteGamer">
          <p>Sweet! Whats your username on fornite?</p>
          <span class="timeRight">11:02</span>
      </div>
      
      <div class="block right">
          <img class="block-img" src="{% static 'images/User2.jpg' %}" alt="CODGamer" class="right">
          <p>My username is: CODSav</p>
          <span class="timeLeft">11:02</span>
      </div>
      <div>
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Chat with team..." aria-label="Chat" style="width: 93%">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Send</button>
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
