{% extends 'base_generic.html' %}

{% load static %}

{% block styles %}
<link href="{% static 'styles/chat.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="card my-3">
  <div class="card-body">
    <h3 class="header">Team Overview</h3>
    <p class="team-name">{% if session %} {{session.name}} {% endif %}</p>

    <div class="my-3 p-3 bg-white rounded box-shadow" id="member-list">
      <h6 class="border-bottom border-gray pb-2 mb-0">Team Members</h6>
      {% for profile in session.profiles.all %}
      <div class="media text-muted pt-3">
        <img src="{% static 'images/chick.jpg' %}" class="img">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark" style="padding-left: 5px">{{profile.user.username}}</strong>
        </p>
      </div>
    {% endfor %}

  </div>
  {% if is_member %}
  <h2 style="align-self: center">Chat With Team:</h2>
  <div class="boxed card my-3" style="height: 400px; overflow-y: scroll;">
    {% for message in session.message_set.all %}
      {% if message.sender.user.username == profile.user.username %}
        <div class="block right">
          <img class="block-img" src="{% static 'images/chick.jpg' %}" alt={{message.sender}}>
          <b>{{message.sender.user.username}}</b>
          <p>{{message.text}}</p>
          <span class="timeRight">{{ message.datetime }}</span>
          {% if perms.PlayWithMe.can_delete_message %}
            <form action="/delete_message/" method="post" id="message_delete_form" class="form-inline my-2 my-lg-0">
              {% csrf_token %}
            <button class="btn btn-failure" form="message_delete_form" type="submit">DELETE </button>
            <input hidden=True name="message_pk" id="messagePK" value="{{ message.pk }}">
            <input name="session_pk" id="sessionPK" value="{{ session.pk }}" hidden=True>
            </form>
          {% endif %}
      {% else %}
        <div class="block left">
            <img class="block-img" src="{% static 'images/chick.jpg' %}" alt={{message.sender}}>
            <b>{{message.sender.user.username}}</b>
            <p>{{message.text}}</p>
            <span class="timeRight">{{ message.datetime }}</span>
            {% if perms.PlayWithMe.can_delete_message %}
              <form action="/delete_message/" method="post" id="message_delete_form" class="form-inline my-2 my-lg-0">
                {% csrf_token %}
              <button class="btn btn-failure" form="message_delete_form" type="submit">DELETE </button>
              <input hidden=True name="message_pk" id="messagePK" value="{{ message.pk }}">
              <input name="session_pk" id="sessionPK" value="{{ session.pk }}" hidden=True>
              </form>
            {% endif %}
      {% endif %}
      </div>
    {% endfor %}
  </div>
  <div>
      <form action="/send_chat_message/" method="post" id="chat_form" class="form-inline my-2 my-lg-0">
          {% csrf_token %}
          <input class="form-control mr-sm-2" form="chat_form"  name="text" id="chatMessageTextInput" type="text" placeholder="Chat with team..." aria-label="Chat" style="width: 93%">
          <input name="session" id="sessionPK" value="{{ session.pk }}" hidden=True>
          <button class="btn btn-outline-success my-2 my-sm-0" form="chat_form" type="submit">Send</button>
      </form>
  </div>
  {% endif %}
</div>

{% endblock %}
