{% extends 'base_generic.html' %}

{% load static %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#online">Online</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#local">Local</a>
          </li>
      </ul>
  </div>
  <div class="tab-content card-body">
      <div id="online" class="tab-pane active">
          <h5 class="card-title text-center">Create an Online Session</h5>
          <p class="card-text text-center">Customize the settings below to build your online gaming session!</p>
          <form action="/create_online_session/" method="post" id="online_session_form">
            {% csrf_token %}
            <div class="form-group">
              <label for="sessionName1" style="display: flex">Session Name</label>
              <input class="form-control" form="online_session_form" name="name" id="onlineSessionNameField" placeholder="Enter session name">
            </div>
            <div class="form-group">
              <label for="inputConsole" style="display: flex">Select a console:</label>
              <select class="form-control" form="online_session_form" name="platforms" id="onlinePlatformSelector">
                <option value="">Select...</option>
                {% for platform in platforms %}
                <option value="{{ platform.name }}">{{ platform }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="inputGame" style="display: flex">Select a game:</label>
              <select class="form-control" form="online_session_form" name="games" id="onlineGameSelector">
                <option value="">Select...</option>
                {% for game in games %}
                <option value="{{ game.title }}">{{ game }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" form="online_session_form" class="btn btn-primary">Create Session</button>
          </form>
        </div>
        <div id="local" class="tab-pane">
            <h5 class="card-title text-center">Create a Local Session</h5>
            <p class="card-text text-center">Customize the settings below to build your local gaming session!</p>
            <form action="/create_local_session/" method="post" id="local_session_form">
              {% csrf_token %}
              <div class="form-group">
                <label for="sessionName1" style="display: flex">Session Name</label>
                <input class="form-control" form="local_session_form" name="name" id="localSessionNameField" placeholder="Enter session name">
              </div>
              <div class="form-group">
                <label for="searchInputLocation" style="display: flex">Select a location:</label>
                <select class="form-control" form="local_session_form" name="location" id="localLocationSelector">
                  <option value="">Select...</option>
                  {% for location in locations %}
                  <option value="{{ location }}">{{ location }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputConsole" style="display: flex">Select a console:</label>
                <select class="form-control" form="local_session_form" name="platforms" id="localPlatformSelector">
                  <option value="">Select...</option>
                  {% for platform in platforms %}
                  <option value="{{ platform.name }}">{{ platform }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputGame" style="display: flex">Select a game:</label>
                <select class="form-control"fprm="local_session_form" name="games" id="localGameSelector">
                  <option value="">Select...</option>
                  {% for game in games %}
                  <option value="{{ game.title }}">{{ game }}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" form="local_session_form" class="btn btn-primary">Create Session</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
