{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
  
<div class="card my-4">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Online</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Local</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">Create an Online Session</h5>
    <p class="card-text text-center">Customize the settings below to build your online gaming session!</p>
    <div class="form-group">
      <label for="sessionName1">Session Name</label>
      <input class="form-control" id="sessionName" placeholder="Enter session name">
    </div>
    <div class="form-group">
    <label for="onlineRegionSelector">Choose Preferred Online Region</label>
      <select class="form-control" id="onlineRegionSelector">
        <option>Select...</option>
        <option>NA</option>
        <option>EU</option>
        <option>AS</option>
        <option>AU</option>
      </select>
    </div>
    <div class="form-group">
      <label for="keywords">Keywords</label>
      <input class="form-control" id="keywords" placeholder="Keywords">
      <small id="keywordsHelp" class="form-text text-muted">Choosing meaningful keywords will make it easier for users to find your group</small>
    </div>
    <div class="form-group">
      <label for="inputConsole">Select a console:</label>
      <select class="form-control" id="inputConsole">
        <option>Select...</option>
        <option>Xbox One</option>
        <option>Playstation 4</option>
        <option>Nintendo Switch</option>
        <option>PC</option>
        <option>Xbox 360</option>
        <option>Playstation 3</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputGame">Select a game:</label>
      <select class="form-control" id="inputGame">
        <option>Select...</option>
        <option>Fortnite</option>
        <option>Minecraft</option>
        <option>Tetris</option>
        <option>Monopoly</option>
        <option>Overwatch</option>
        <option>FIFA 2018</option>
        <option>Other</option>
      </select>
    </div>
    <a href="#" class="btn btn-primary">Create Session</a>
  </div>
</div>
{% endblock %}
