{% extends 'base_generic.html' %}

{% load static %}

{% block styles %}
<link href="{% static 'styles/search.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="card my-3">
  <div class="card-body">
    <h3 class="mb-3">Find a group</h3>
    <form action="{% url 'search_results' %}">
      <div class="form-group row">
        <div class="col">
          <label>Where do you want to play?</label>
        </div>
        <div class="col">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Online</label>
          </div>
        </div>
        <div class="col">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Local</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="searchInputLocation">Select a location:</label>
        <select class="form-control" id="searchInputConsole">
          <option>Select...</option>
          <option>Southwest</option>
          <option>Commonwealth Honors College</option>
          <option>Northeast</option>
          <option>Orchard Hill</option>
          <option>Central</option>
          <option>Center of Campus</option>
          <option>Other...</option>
        </select>
      </div>
      <div class="form-group">
        <label for="searchInputKeywords">Keywords:</label>
        <input type="text" class="form-control" id="searchInputKeywords" placeholder="Enter keywords">
      </div>
      <div class="form-group">
        <label for="searchInputConsole">Select a console:</label>
        <select class="form-control" id="searchInputConsole">
          <option>Select...</option>
          <option>Xbox One</option>
          <option>Playstation 4</option>
          <option>Nintendo Switch</option>
          <option>PC</option>
          <option>Xbox 360</option>
          <option>Playstation 3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="searchInputConsole">Select a game:</label>
        <select class="form-control" id="searchInputConsole">
          <option>Select...</option>
          <option>Fortnite</option>
          <option>Minecraft</option>
          <option>Tetris</option>
          <option>Monopoly</option>
          <option>Overwatch</option>
          <option>FIFA 2018</option>
          <option>Other</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>

{% endblock %}
