{% extends 'base_generic.html' %}

{% load static %}

{% block styles %}
<link href="{% static 'styles/search.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="card my-3">
  <div class="card-body">
    <h3 class="mb-3">Find a group</h3>
    <form action="{% url 'search_results' %}">
      <div class="form-group row">
        <div class="col">
          <label>Where do you want to play?</label>
        </div>
        <div class="col">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Online</label>
          </div>
        </div>
        <div class="col">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Local</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="searchInputLocation">Select a location:</label>
        <select class="form-control" id="searchInputConsole">
          <option>Select...</option>
          {% for location in locations %}
          <option>{{ location }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="searchInputConsole">Select a console:</label>
        <select class="form-control" id="searchInputConsole">
          <option>Select...</option>
          {% for platform in platforms %}
          <option>{{ platform }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="searchInputConsole">Select a game:</label>
        <select class="form-control" id="searchInputConsole">
          <option>Select...</option>
          {% for game in games %}
          <option>{{ game }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>

{% endblock %}
