<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="html">
    <link rel="stylesheet" type="text/css" href="navbar.css">
  </head>
  <body>
	  <nav class="navbar">
		  <div class="navbar-links">
			  <ul class="links-list">
				  <li class="nav-button">
            	<a class="nav-link" href="">Page 1</a>
					</li>
					<li class="nav-button">
						<a class="nav-link" href="">Page 2</a>
					</li>
					<li class="nav-button">
						<a class="nav-link" href="">Page 3</a>
					</li>
			  </ul>
		  </div>
	  </nav>
  </body>
</html>
